#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container {
  max-width: 1080px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  gap: 1em;
}

@media screen and (max-width: 760px) {
  .container {
    flex-direction: column;
  }
}

.title {
  align-self: flex-start;
  text-transform: uppercase;
}

.search {
  align-self: baseline;
}
